extends layout

block content
    div(class="container" style="margin-top:20px")
        div(class="row")
            // Afficher si la personne est en ligne sinon la dernière connection
            input(type="hidden" value="#{login}" id="login")
            div(class="col-lg-6")
                div(class="form-group")
                    if logged
                        p!= '<img src="images/bouton_vert.png" width="18" height="18"> En ligne'
                    else
                        p.
                            <img src='images/bouton_rouge.png' width='18' height='18'>
                            Hors ligne depuis le #{last_logged}
                    if sexe == "H"
                        if attirance
                            if attirance == "F" && sexe == "H"
                                p Homme, #{nom} #{prenom} #{ville} #{cp}, Heterosexuelle, #{pop}
                            if attirance == sexe
                                p Homme, #{nom} #{prenom} #{ville} #{cp}, Homosexuel, #{pop}
                            if attirance == "HF"
                                p Homme, #{nom} #{prenom} #{ville} #{cp}, Bisexuel, #{pop}
                    if sexe == "F"
                        if attirance
                            if attirance == "H" && sexe == "F"
                                p Femme, #{nom} #{prenom} #{ville} #{cp}, Heterosexuelle, #{pop}
                            if attirance == sexe
                                p Femme, #{nom} #{prenom} #{ville} #{cp}, Homosexuel, #{pop}
                            if attirance == "HF"
                                p Femme, #{nom} #{prenom} #{ville} #{cp}, Bisexuel, #{pop}
                    if sexe == "A"
                        if attirance
                            if attirance == "F"
                                p Autre, #{nom} #{prenom} #{ville} #{cp}, aime les femmes, #{pop}
                            if attirance == "H"
                                p Autre, #{nom} #{prenom} #{ville} #{cp}, aime les hommes, #{pop}
                            if attirance == "HF"
                                p Autre, #{nom} #{prenom} #{ville} #{cp}, Bisexuel, #{pop}
                div(class="form-group")
                    p #{description}
                div(class="form-group")
                    button(type="button" class="btn btn-default" id="liker") Charmer
                    button(type="button" class="btn btn-default" id="report" style="margin-left:20px") Signaler
                    button(type="button" class="btn btn-default" id="bloquer" style="margin-left:20px") Bloquer
                if profile_like == "yes"
                    div(class="alert alert-success" role="alert" style="margin-top:20px;") Ce profil vous like
                if profile_match == "yes"
                    div(class="alert alert-success" role="alert" style="margin-top:20px;") Vous avez un match avec ce profil
                div(class="alert alert-success" role="alert" id="ok" style="display:none;margin-top:20px;")
                div(class="alert alert-danger" role="alert" id="nok" style="display:none;margin-top:20px;")
            div(class="col-lg-6")
                div(class="form-group")
                    if tag
                        div(style="width:100%;min-height:90px;height:auto;border-radius:5px;margin-bottom:20px;background-color:white;color:black")
                            each val in tag
                                div(class="tag") #{val}
        div(class="row")
            p.jumbotron(style="margin-top:30px;padding-top:20px;padding-bottom:20px")
                != '<strong style="font-size:30px;font-weight: 300;color:#333">Ses images : </strong>'
            if images
                each val in images
                    div(style="padding:17px;float:left;background-color:#eee;")
                        img(src="../"+val width="200" height="200" class="photo")
block scripts
    script(type="text/javascript").
        socket.emit('visite', $("#login").val());
        $("#liker").on('click', function(){
            var login = $("#login").val();
            $.ajax({
                method: "POST",
                url: "like_profile",
                data: {login: login}
            })
                    .done(function (msg) {
                        if (msg == 'match') {
                            var notif_match = $("#match_notif");
                            notif_match.css('display', '');
                            html = notif_match.html();
                            html = parseInt(html) + 1;
                            if (!html)
                                html = 1;
                            notif_match.html(html);
                            $("#ok").html('Vous avez un nouveau match avec ' + login);
                            $("#ok").show("slow").delay(4000).hide('slow');
                            socket.emit('match', $("#login").val());
                        }
                        else if (msg == 'unlike') {
                            $("#nok").html('Vous ne likez plus ' + login);
                            $("#nok").show("slow").delay(4000).hide('slow');
                            socket.emit('unlike', $("#login").val());
                        }
                        else if (msg == 'like') {
                            $("#ok").html('Vous likez maintenant ' + login);
                            $("#ok").show("slow").delay(4000).hide('slow');
                            socket.emit('like', $("#login").val());
                        }
                        else if (msg == 'no login') {
                            $("#nok").html('Vous devez vous connecter pour like un profile');
                            $("#nok").show("slow").delay(4000).hide('slow');
                        }
                        else {
                            $("#nok").html('oups something went wrong');
                            $("#nok").show("slow").delay(4000).hide('slow');
                        }
                    });
        });
        $("#report").on('click', function () {
            var login = $("#login").val();
            $.ajax({
                method: "POST",
                url: "report_profile",
                data: {login: login}
            })
            .done(function (msg) {
                if (msg == 'done') {
                    $("#ok").html('Le profil ' + login + ' a bien été signalier');
                    $("#ok").show("slow").delay(4000).hide('slow');
                }
                else {
                    $("#nok").html('oups something went wrong');
                    $("#nok").show("slow").delay(4000).hide('slow');
                }
            });
        });
        $("#bloquer").on('click', function () {
            var login = $("#login").val();
            $.ajax({
                method: "POST",
                url: "bloquer_profile",
                data: {login: login}
            })
            .done(function (msg) {
                if (msg == 'done') {
                    $("#ok").html('Le profil ' + login + ' a bien été bloquer');
                    $("#ok").show("slow").delay(4000).hide('slow');
                }
                else if (msg == 'no login') {
                    $("#nok").html('Vous devez vous connecter pour bloquer un profile');
                    $("#nok").show("slow").delay(4000).hide('slow');
                }
                else {
                    $("#nok").html('oups something went wrong');
                    $("#nok").show("slow").delay(4000).hide('slow');
                }
            });
        });